{% extends 'base.html' %} {% block header %}
<h1>{% block title %} About {% endblock %}</h1>
{% endblock %} {% block content %}
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center mb-3">
          <p>Project Title</p>
          <h1>
            <a
              href="https://github.com/paing-myo-swe/social-space"
              target="_blank"
              >Social Space</a
            >
          </h1>
          <h2>Final Project of CS50x 2024</h2>
        </div>
        <div class="text-center mb-3">
          <h5>Developed by: Paing Myo Swe</h5>
          <h5>
            GitHub username:
            <a href="https://github.com/paing-myo-swe" target="_blank"
              >paing-myo-swe</a
            >
          </h5>
          <h5>edX username: Paing_Myo_Swe</h5>
          <h6>City : Surat Thani, Country : Thailand</h6>
        </div>
        <div>
          <h3>What is Social Space?</h3>
          <p>
            This is my final project of CS50x:CS50's Introduction to Computer
            Science. Social Space is a web-based application platform that
            allows you to connect with people who share your interests. You can
            create a profile, join groups, and participate in discussions.
            Social Space is a great way to meet new people and make friends.
          </p>
        </div>
        <div>
          <h3>Features</h3>
          <ul>
            <li>Profile creation</li>
            <li>Post creation</li>
            <li>Group creation</li>
            <li>Space's Discussion forum</li>
            <li>Space's group messaging</li>
            <li>Post management</li>
            <li>Space management</li>
          </ul>
        </div>
        <div>
          <h3>Technologies Used</h3>
          <p>
            <span>Python, </span>
            <span>Flask, </span>
            <span>Flask-SocketIO, </span>
            <span>SQLite, </span>
            <span>SQL, </span>
            <span>HTML, </span>
            <span>CSS, </span>
            <span>Bootstrap, </span>
            <span>JavaScript, </span>
            <span>jQuery.</span>
          </p>
        </div>
        <div>
          <h3>What new skills will I need to acquire and research?</h3>
          <p>
            To make this project more functional and feature-rich, I will need
            to acquire and research the following skills:
          </p>
          <ul>
            <li>Advanced JavaScript for dynamic content and interactivity</li>
            <li>
              React or another front-end framework for building complex user
              interfaces
            </li>
            <li>
              RESTful API development to enable communication between the
              front-end and back-end
            </li>
            <li>WebSockets for real-time communication features</li>
            <li>
              Authentication and authorization techniques for securing user data
            </li>
            <li>
              Unit and integration testing to ensure code quality and
              reliability
            </li>
            <li>
              Deployment and DevOps skills for managing and scaling the
              application
            </li>
          </ul>
        </div>
        <div>
          <h3>What might be a good outcome for my project?</h3>
          <p>
            This is one of the good outcome project by using this technologies
            (HTML, CSS, JavaScript, Python, and SQL) than I expect. In the
            future, I want to do more features, enhancements technology,
            improvements skill progress in the Web Development technology.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
